<header>
 <div style="text-align: center">
   <h2>Log in to Travel Buddy</h2>

   <form action="/login" method="POST">
     <p>Username: <input type="text" name="username" placeholder="username"></p>
     <p>Password: <input type="text" name="password" placeholder="PaSSw0rd!"></p>
     <input type="submit" value="submit">
   </form>
   Don't have an account? <a href="/signup">Sign Up</a>
 </div>
</header>