<header>
  <div style="text-align: center">
    <h2>Sign up for Travel Buddy!</h2>
    <h4>Please fill out below form:</h4>
    <form action="/signup" method="POST">
      <p>Username: <input type="text" name="username" placeholder="username"></p>
      <p>Email: <input type="text" name="email" placeholder="your_email@gmail.com"></p>
      <p>Password: <input type="text" name="password" placeholder="PaSSw0rd!"></p>
      <input type="submit" value="Sign Up">
    </form>
    Have an account? <a href="/login">Log In</a>
  </div>
</header>