<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-GIcXw8rYyx4xrVfccSt7E7KGw2nAFDG/TNLq9NMPHKH5Rv3aqk6laThLgQFQnIYF" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/posts">travelbuddy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <br><br>
        <div class="jumbotron">
          <h3 class="display-4">Welcome to</h3>
          <h3 class="display-4">travelbuddy!</h3>
          <hr class="my-4">
          <p>Find like-minded people to travel with on your next adventure.</p><br>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/signup" role="button">Get started</a>
          </p>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <!-- CSS -->  
    <style type="text/css">
      html, body { height: 100%;}
      body {
        background-image: url(https://1.bp.blogspot.com/-XuVR-j2b1CQ/WiNCTglbxsI/AAAAAAAAGjg/HtuqW2N_kQQ8PtbANab7CAoPRhjSwR4SgCLcBGAs/s1600/Blog1.JPG); 
        background-repeat: no-repeat;
        background-position: top center; 
        background-size: cover;}
    </style>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
